:root {
  --bg-dark: oklch(0.1 0 20);
  --bg: oklch(0.15 0 20);
  --bg-light: oklch(0.2 0 20);
  --text: oklch(0.96 0 20);
  --text-muted: oklch(0.76 0 20);
  --highlight: oklch(0.5 0 20);
  --border: oklch(0.4 0 20);
  --border-muted: oklch(0.3 0 20);
  --primary: oklch(0.76 0.1 20);
  --secondary: oklch(0.76 0.1 200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg);
  user-select: none;
}

main {
  height: 100vh;
  overflow: hidden;
  .area {
    height: 175px;
    border-bottom: 3px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 15px;
    position: relative;
    z-index: 10;
    transition: all linear 0.2s;

    h1 {
      font-size: clamp(70px, 8vw, 10vw);
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      -webkit-text-stroke: 1px var(--bg-dark);
      text-shadow: -2px -2px 2px var(--bg-light);
      color: var(--text);
      z-index: 5;
      pointer-events: none;
      mix-blend-mode: overlay;
      opacity: 0.8;
    }

    img {
      position: absolute;
      height: 250px;
      width: 250px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      z-index: 3;
      transition: all 0.3s ease-out;
      pointer-events: none;
    }
  }
}

.area {
  h1 {
    &::before {
      position: absolute;
      z-index: -1;
      top: -2px;
      left: -2px;
      color: var(--bg-light);
      -webkit-text-stroke: 3px var(--text);
      text-shadow: -1px -1px 5px var(--text);
    }
  }
  &:nth-child(1) {
    h1 {
      &::before {
        content: "Spring";
      }
    }
  }
  &:nth-child(2) {
    h1 {
      &::before {
        content: "Summer";
      }
    }
  }
  &:nth-child(3) {
    h1 {
      &::before {
        content: "Monsoon";
      }
    }
  }
  &:nth-child(4) {
    h1 {
      &::before {
        content: "Autumn";
      }
    }
  }
  &:nth-child(5) {
    h1 {
      &::before {
        content: "Winter";
      }
    }
  }
}
